.page {
	background-color: var(--bg-secondary);
	height: 100%;
	scroll-behavior: smooth;
	color: var(--text-primary-20);
	font-size: var(--font-primary);
	line-height: var(--lh-primary);
	font-family: var(--ff-primary);

	&[data-theme='light'] {
		color-scheme: light;

		/* tokens */
		--bg-primary: rgb(255 255 255);
		--bg-secondary: rgb(247 247 245);
		--bg-tertiary: rgb(232 232 227);
		--border-accent: rgb(54 54 49);
		--border-primary: rgb(219 219 215);
		--border-secondary: rgb(232 232 227);
		--text-primary-0: rgb(54 54 49);
		--text-primary-20: rgb(102 102 97);
		--text-secondary-0: rgb(131 131 117);
		--text-secondary-20: rgb(163 163 159);
		--text-tertiary: rgb(204 204 199);

		/* aliases */
		--button-primary-bg: var(--bg-primary);
		--button-primary-border: var(--border-secondary);
		--button-primary-text-primary: var(--text-primary-0);
		--button-primary-text-secondary: var(--text-tertiary);
		--button-secondary-bg: var(--bg-tertiary);
		--button-secondary-border: var(--border-primary);
		--button-secondary-text: var(--text-primary-0);
	}

	&[data-theme='dark'] {
		color-scheme: dark;

		/* tokens */
		--bg-elevate: rgb(53 53 49 / 0.9);
		--bg-elevate-secondary: rgb(75 75 68 / 0.8);
		--bg-primary: rgb(53 53 49);
		--bg-secondary: rgb(43 43 39);
		--bg-tertiary: rgb(75 75 68);
		--border-accent: rgb(32 32 29);
		--border-primary: rgb(93 93 85);
		--border-secondary: rgb(75 75 68);
		--text-primary-0: rgb(231 231 228);
		--text-primary-20: rgb(211 211 207);
		--text-secondary-0: rgb(171 171 160);
		--text-secondary-20: rgb(125 125 120);
		--text-tertiary: rgb(115 115 105);

		/* aliases */
		--button-primary-bg: var(--bg-elevate);
		--button-primary-border: var(--border-secondary);
		--button-primary-text-primary: var(--text-primary-0);
		--button-primary-text-secondary: var(--text-secondary-0);
		--button-secondary-bg: var(--bg-elevate-secondary);
		--button-secondary-border: var(--border-primary);
		--button-secondary-text: var(--text-primary-0);
	}

	@media (prefers-color-scheme: dark) {
		/* tokens */
		--bg-elevate: rgb(53 53 49 / 0.9);
		--bg-elevate-secondary: rgb(75 75 68 / 0.8);
		--bg-primary: rgb(53 53 49);
		--bg-secondary: rgb(43 43 39);
		--bg-tertiary: rgb(75 75 68);
		--border-accent: rgb(32 32 29);
		--border-primary: rgb(93 93 85);
		--border-secondary: rgb(75 75 68);
		--text-primary-0: rgb(231 231 228);
		--text-primary-20: rgb(211 211 207);
		--text-secondary-0: rgb(171 171 160);
		--text-secondary-20: rgb(125 125 120);
		--text-tertiary: rgb(115 115 105);

		/* aliases */
		--button-primary-bg: var(--bg-elevate);
		--button-primary-border: var(--border-secondary);
		--button-primary-text-primary: var(--text-primary-0);
		--button-primary-text-secondary: var(--text-secondary-0);
		--button-secondary-bg: var(--bg-elevate-secondary);
		--button-secondary-border: var(--border-primary);
		--button-secondary-text: var(--text-primary-0);
	}

	@media (width <= 1024) {
		font-size: var(--font-sm);
	}
}

.page__body {
	margin: 0;
	min-width: 320px;
	min-height: 100%;
}

.site-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	margin-inline: auto;
	width: min(var(--content-width), 100% - calc(var(--container-offset) * 2));
}

.container--fluid {
	margin-inline: 24px;
	width: 100%;

	@media (width >= 1440) {
		margin-inline: 40px;
	}

	@media (width <= 1024) {
		margin-inline: 12px;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	column-gap: var(--grid-gap);

	@media (width <= 1024) {
		grid-template-columns: 1fr;
	}
}
