/* иконки */
.icon {
	--size: 24px;

	width: var(--size);
	height: var(--size);
	fill: currentcolor;
	transition:
		color var(--tr-primary) ease,
		opacity var(--tr-primary) ease,
		transform var(--tr-primary) ease;
	pointer-events: none;

	&.icon--16 {
		--size: 16px;
	}
}

/* заголовки */
.text-h1,
.text-h3,
.text-h3-small {
	color: var(--text-primary-0);
	font-weight: 300;
	text-wrap: balance;
}

.text-h1 {
	font-size: 64px;
	line-height: 0.9;
	letter-spacing: -0.05em;

	&.text-h1--secondary {
		color: var(--text-tertiary);
	}

	@media (width <= 1024) {
		font-size: 26px;
		letter-spacing: -0.03em;
	}
}

.text-h2 {
	color: var(--text-secondary-0);
	font-weight: 500;
	font-size: var(--font-sm);
	line-height: var(--lh-sm);
	font-family: var(--ff-secondary);
	text-transform: uppercase;

	@media (width <= 1024) {
		font-size: var(--font-xs);
	}
}

.text-h3 {
	font-size: 40px;
	line-height: 1.1;
	letter-spacing: -0.03em;

	@media (width <= 1024) {
		font-size: 21px;
		line-height: var(--lh-sm);
		letter-spacing: -0.02em;
	}
}

.text-h3-small {
	font-size: 24px;
	line-height: var(--lh-sm);
	letter-spacing: -0.02em;

	@media (width <= 1024) {
		font-size: 21px;
	}
}

.text-subtitle {
	font-size: 24px;
	line-height: var(--lh-sm);
	letter-spacing: -0.02em;
	text-wrap: balance;

	@media (width <= 1024) {
		font-size: var(--font-sm);
		letter-spacing: 0;
	}
}
