:root {
	/* BASE */
	--content-width: 1376px;
	--container-offset: 32px;
	--grid-columns: 12;
	--grid-gap: 24px;

	/* FONT FAMILIES */
	--ff-primary: SuisseIntl, Inter, Roboto, 'Helvetica Neue', system-ui, sans-serif;
	--ff-secondary: JetBrainsMono, ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
		monospace;

	/* FONT SIZES */
	--font-lg: 24px;
	--font-primary: 18px;
	--font-sm: 16px;
	--font-xs: 14px;

	/* LINE HEIGHTS */
	--lh-lg: 1.5;
	--lh-primary: 1.4;
	--lh-sm: 1.2;

	/* RADIUSES */
	--br-xl: 24px;
	--br-lg: 16px;
	--br-md: 12px;
	--br-primary: 8px;
	--br-sm: 4px;

	/* EFFECTS */
	--blur-sm: blur(3px);
	--shadow-sm: 0px 4px 12px rgba(124, 124, 124, 0.15);

	/* TRANSITIONS */
	@media (prefers-reduced-motion: no-preference) {
		--tr-primary: 0.2s ease;
	}

	/* MOBILE SIZES */
	@media (width <= 1024) {
		--container-offset: 12px;
		--grid-columns: 0;
	}
}
