:root {
	/* BASE */
	--content-width: 1376px;
	--container-offset: 32px;
	--grid-columns: 12;
	--grid-gap: 24px;

	/* FONT FAMILIES */
	--ff-primary: SuisseIntl, Inter, Roboto, 'Helvetica Neue', system-ui, sans-serif;
	--ff-secondary: JetBrainsMono, ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, monospace;

	/* FONT SIZES */
	--font-lg: 24px;
	--font-primary: 18px;
	--font-sm: 16px;
	--font-xs: 14px;

	/* LINE HEIGHTS */
	--lh-lg: 1.5;
	--lh-primary: 1.4;
	--lh-sm: 1.2;

	/* RADIUSES */
	--br-xl: 24px;
	--br-lg: 16px;
	--br-md: 12px;
	--br-primary: 8px;
	--br-sm: 4px;

	/* EFFECTS */
	--blur-sm: blur(3px);
	--shadow-sm: 0px 2px 12px rgba(54 54 49 / 0.3);

	/* TRANSITIONS */
	@media (prefers-reduced-motion: no-preference) {
		--tr-md: 0.3s ease;
		--tr-primary: 0.2s ease;
		--tr-sm: 0.15s ease;
		--tr-bounce: 0.3s cubic-bezier(0.07, 0.82, 0.57, 1.42);
	}

	/* MOBILE SIZES */
	@media (width <= 880) {
		/* font sizes */
		--font-primary: 16px;
		--font-sm: 14px;

		/* grid */
		--container-offset: 8px;
		--grid-columns: 0;
	}
}

/* COLORS */
@mixin light {
	color-scheme: light;

	/* tokens */
	--bg-primary: rgb(255 255 255);
	--bg-primary-elevate: rgb(251 251 249);
	--bg-secondary: rgb(247 247 245);
	--bg-tertiary: rgb(232 232 227);
	--bg-placeholder: rgb(247 247 245);
	--border-accent: rgb(54 54 49);
	--border-primary: rgb(219 219 215);
	--border-secondary: rgb(232 232 227);
	--text-primary-0: rgb(54 54 49);
	--text-primary-20: rgb(102 102 97);
	--text-secondary-0: rgb(131 131 117);
	--text-secondary-20: rgb(163 163 159);
	--text-tertiary: rgb(204 204 199);

	/* aliases */
	--button-primary-blur: unset;
	--button-primary-bg: var(--bg-primary);
	--button-primary-border: var(--border-secondary);
	--button-primary-text-primary: var(--text-primary-0);
	--button-primary-text-secondary: var(--text-tertiary);
	--button-secondary-blur: unset;
	--button-secondary-bg: var(--bg-tertiary);
	--button-secondary-border: var(--border-primary);
	--button-secondary-text: var(--text-primary-0);
	--card-bg: var(--bg-primary);
	--card-bg-hover: var(--bg-primary-elevate);
	--card-bg-active: rgb(247 247 245);
	--note-bg: var(--bg-primary-elevate);
	--note-text-primary: var(--text-primary-0);
	--note-text-secondary: var(--text-primary-20);
}

@mixin dark {
	color-scheme: dark;

	/* tokens */
	--bg-elevate: rgb(53 53 49 / 0.9);
	--bg-elevate-secondary: rgb(75 75 68 / 0.8);
	--bg-primary: rgb(53 53 49);
	--bg-primary-elevate: rgb(60 60 55);
	--bg-secondary: rgb(43 43 39);
	--bg-tertiary: rgb(75 75 68);
	--bg-placeholder: rgb(247 247 245);
	--border-accent: rgb(32 32 29);
	--border-primary: rgb(93 93 85);
	--border-secondary: rgb(75 75 68);
	--text-primary-0: rgb(231 231 228);
	--text-primary-20: rgb(211 211 207);
	--text-secondary-0: rgb(171 171 160);
	--text-secondary-20: rgb(125 125 120);
	--text-tertiary: rgb(115 115 105);

	/* aliases */
	--button-primary-blur: var(--blur-sm);
	--button-primary-bg: var(--bg-elevate);
	--button-primary-border: var(--border-secondary);
	--button-primary-text-primary: var(--text-primary-0);
	--button-primary-text-secondary: var(--text-secondary-0);
	--button-secondary-blur: var(--blur-sm);
	--button-secondary-bg: var(--bg-elevate-secondary);
	--button-secondary-border: var(--border-primary);
	--button-secondary-text: var(--text-primary-0);
	--card-bg: var(--bg-primary);
	--card-bg-hover: var(--bg-primary-elevate);
	--card-bg-active: rgb(63 63 58);
	--note-bg: var(--bg-primary-elevate);
	--note-text-primary: var(--text-primary-0);
	--note-text-secondary: var(--text-primary-20);
}

:root[data-theme='light'] {
	@apply light;

	img,
	video {
		filter: none;
	}

	[data-theme-icon='light'] {
		display: block;
		color: var(--button-primary-text-primary);
	}
}

:root[data-theme='dark'] {
	@apply dark;

	img,
	video {
		filter: brightness(95%);
	}

	[data-theme-icon='dark'] {
		display: block;
		color: var(--button-primary-text-primary);
	}
}

@media (prefers-color-scheme: light) {
	@apply light;

	img,
	video {
		filter: none;
	}

	:root:not([data-theme]) [data-theme-icon='light'] {
		display: block;
		color: var(--button-primary-text-primary);
	}
}

@media (prefers-color-scheme: dark) {
	@apply dark;

	img,
	video {
		filter: brightness(95%);
	}

	:root:not([data-theme]) [data-theme-icon='dark'] {
		display: block;
		color: var(--button-primary-text-primary);
	}
}
