---
import AboutCover from '@/assets/about-cover.jpg'
import ContentList from '@/components/atoms/ContentList.astro'
import Section from '@/components/atoms/Section.astro'
import NextPage from '@/components/organisms/NextPage.astro'
import ProjectItem from '@/components/organisms/ProjectPage.astro'
import MainLayout from '@/layouts/MainLayout.astro'

// получаю все проекты
import getProjects from '@/scripts/getters/get-projects'
const projects = await getProjects()
---

<MainLayout
	title="Алексей Калинин"
	description="Дизайнер интерфейсов, который классно верстает. Превращаю сложное в простое и обожаю системность"
	hero_title="Дизайнер интерфейсов"
	hero_title_secondary="который классно верстает"
	hero_subtitle="Превращаю сложное в простое и обожаю системность"
>
	<Section class="projects">
		<ContentList class="projects__list">
			{
				projects.map(project => (
					<li class="projects__list-item">
						<ProjectItem {project} />
					</li>
				))
			}
		</ContentList>
	</Section>
	<NextPage title="Обо мне" link="/about" cover={AboutCover} />
</MainLayout>
