---
import ContentList from '@/components/molecules/ContentList.astro'
import ProjectCard from '@/components/organisms/ProjectCard.astro'
import MainLayout from '@/layouts/MainLayout.astro'

// получаю все проекты
import getProjects from '@/scripts/getters/get-projects'
const projects = await getProjects()
---

<MainLayout
	title="Алексей Калинин"
	desc="Дизайнер интерфейсов, который классно верстает. Превращаю сложное в простое и обожаю системность"
	hero={{
		title: 'Дизайнер интерфейсов',
		title_secondary: 'который классно верстает',
		desc: 'Превращаю сложное в простое и обожаю системность',
	}}
>
	<section class="projects">
		<ContentList class="projects__list">
			{
				projects.map(project => (
					<li class="projects__list-item">
						<ProjectCard {project} />
					</li>
				))
			}
		</ContentList>
	</section>
</MainLayout>
