---
import Section from '@/components/atoms/Section.astro'
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout
	title="Алексей Калинин"
	description="Дизайнер интерфейсов, который классно верстает. Превращаю сложное в простое и обожаю системность"
>
	<Section>
		<div class="container">
			<h1 class="text-h1">Дизайнер интерфейсов который классно верстает</h1>
		</div>
	</Section>
</MainLayout>
