---
import ContentList from '@/components/atoms/ContentList.astro'
import Section from '@/components/atoms/Section.astro'
import ProjectItem from '@/components/molecules/ProjectItem.astro'
import MainLayout from '@/layouts/MainLayout.astro'
import getProjects from '@/scripts/getters/get-projects'
// import { getCollection } from 'astro:content'

const projects = await getProjects()
---

<MainLayout
	title="Алексей Калинин"
	description="Дизайнер интерфейсов, который классно верстает. Превращаю сложное в простое и обожаю системность"
	hero_title="Дизайнер интерфейсов"
	hero_title_secondary="который классно верстает"
	hero_subtitle="Превращаю сложное в простое и обожаю системность"
>
	<Section class="projects">
		<ContentList class="projects__list">
			{
				projects.map(project => (
					<li class="projects__list-item">
						<ProjectItem {project} />
					</li>
				))
			}
		</ContentList>
	</Section>
	<!-- следующая страница -->
</MainLayout>
