---
import ButtonLink from '@/components/atoms/ButtonLink.astro'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'li'> {
	href: string
	active?: boolean
	class?: string
}

const { href, active = false, class: className, ...rest } = Astro.props
---

<li class:list={['link-item', { 'link-item--active': active }, className]} {...rest}>
	<ButtonLink class="link--primary" {href}><slot /></ButtonLink>
</li>

<style>
	.link-item {
		display: inline-flex;
		align-self: flex-start;
		border-radius: var(--br-primary);

		.link {
			padding-inline: 6px;
			padding-block: 4px;
		}
	}

	.link-item:not(.link-item--active) {
		transition: background-color var(--tr-primary);

		.link {
			opacity: 0.6;
		}

		@media (hover) {
			&:hover {
				background-color: var(--bg-secondary);

				.link {
					opacity: 1;
				}
			}
		}
	}

	.link-item--active {
		background-color: var(--bg-tertiary);

		.link {
			color: var(--text-primary-0);
			font-weight: 700;
			text-decoration-color: transparent;
		}
	}
</style>
