---
import { Icon } from 'astro-icon/components'
import ButtonLink from '../atoms/ButtonLink.astro'

import videoMP4 from '@/assets/about/about_video.mp4'
import videoCover from '@/assets/about/about_video_cover.jpg'
import videoH265 from '@/assets/about/about_video_h265.mp4'
---

<script>
	const videoPlayer = document.querySelector('[data-about-player]') as HTMLDivElement
	if (videoPlayer) {
		const video = videoPlayer.querySelector('[data-about-video]') as HTMLVideoElement
		const videoButton = videoPlayer.querySelector('[data-about-btn]') as HTMLButtonElement
		const playButton = videoPlayer.querySelector('[data-about-play]') as HTMLButtonElement

		const togglePlay = (player: HTMLDivElement) => {
			playButton.classList.add('about-card__play--hidden')
			videoButton.setAttribute('aria-label', 'Поставить видео на паузу')

			removeSpinner(player)
		}

		const togglePause = (player: HTMLDivElement) => {
			playButton.classList.remove('about-card__play--hidden')
			videoButton.setAttribute('aria-label', 'Включить видео')

			removeSpinner(player)
		}

		const showSpinner = (player: HTMLDivElement) => {
			const spinner = player.querySelector('.spinner')
			if (spinner) return

			const newSpinner = document.createElement('div')
			newSpinner.classList.add('spinner')
			player.appendChild(newSpinner)
		}

		const removeSpinner = (player: HTMLDivElement) => {
			const spinner = player.querySelector('.spinner')
			if (spinner) spinner.remove()
		}

		videoButton.addEventListener('click', () => {
			if (video.paused) video.play()
			else video.pause()
		})

		video.addEventListener('play', () => togglePlay(videoPlayer))
		video.addEventListener('pause', () => togglePause(videoPlayer))
		video.addEventListener('ended', () => togglePause(videoPlayer))
		video.addEventListener('waiting', () => showSpinner(videoPlayer))
		video.addEventListener('playing', () => removeSpinner(videoPlayer))
	}
</script>

<div class="about-card">
	<figure class="about-card__video-player" data-about-player>
		<video class="about-card__video" width="250" height="250" poster={videoCover.src} playsinline data-about-video>
			<source src={videoH265} type="video/mp4; codecs=hvc1" />
			<source src={videoMP4} type="video/mp4; codecs=avc1" />
			Ваш браузер не поддерживает встроенные видео :(
		</video>
		<ButtonLink class="about-card__btn" aria-label="Включить видео" aria-live="polite" data-about-btn />
		<ButtonLink
			class="btn btn--secondary btn--only-icon about-card__play"
			aria-hidden="true"
			tabindex="-1"
			data-about-play
		>
			<Icon name="play-icon" class="icon" />
		</ButtonLink>
		<figcaption class="visually-hidden">Видео обо мне</figcaption>
	</figure>
	<div class="about-card__content">
		<h3 class="text-h3 about-card__title">Лёша, 20 лет</h3>
		<p class="about-card__desc">Живу в Перми, ответственный и проактивный, ищу работу в найме</p>
	</div>
</div>

<style>
	.about-card {
		display: flex;
		align-items: center;
		gap: 48px;
		margin-block-end: 40px;

		@media (width <= 880) {
			flex-direction: column;
			/* align-items: unset; */
			gap: 24px;
			margin-block-end: 24px;
		}
	}

	.about-card__video-player {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		transition: background-color var(--tr-primary);
	}

	.about-card__video {
		--size: 250px;

		border-radius: 100%;
		background-color: var(--bg-placeholder);
		aspect-ratio: 1 / 1;
		width: var(--size);
		pointer-events: none;

		@media (width <= 880) {
			--size: 100%;
		}
	}

	.about-card__btn {
		position: absolute;
		inset: 0;

		@media (hover) {
			&:hover + .about-card__play {
				transform: scale(1.15);
			}
		}

		&:active {
			&:hover + .about-card__play {
				transform: scale(1.15);
			}
		}
	}

	.about-card__play {
		position: absolute;
		right: 0;
		bottom: 0;
		transition:
			transform var(--tr-bounce),
			scale var(--tr-bounce);
		pointer-events: none;

		&.about-card__play--hidden {
			scale: 0;
			transition:
				transform var(--tr-bounce),
				scale var(--tr-sm);
		}

		@media (width <= 880) {
			right: unset;
			bottom: unset;
		}
	}

	.about-card__content {
		@media (width <= 880) {
			align-self: flex-start;
		}
	}

	.about-card__desc {
		max-width: 400px;
	}
</style>
