---
import { Icon } from 'astro-icon/components'
import ButtonLink from '../atoms/ButtonLink.astro'
import DataList from '../atoms/DataList.astro'

interface Props {
	class?: string
}

const { class: className, ...rest } = Astro.props
---

<div class:list={['contacts', className]} {...rest}>
	<ul class="list-reset contacts__list">
		<li class="contacts__item">
			<ButtonLink class="contacts__link" link="mailto:sonniy.design@gmail.com">E-mail</ButtonLink>
		</li>
		<li class="contacts__item">
			<ButtonLink class="contacts__link" link="#">CV·Резюме</ButtonLink>
		</li>
		<li class="contacts__item contacts__item--icon">
			<ButtonLink
				class="contacts__link"
				link="https://www.linkedin.com/in/sonniydsgn/"
				target="_blank"
				referrerpolicy="no-referrer"
			>
				<Icon class="icon" name="linkedin-icon" />
			</ButtonLink>
		</li>
		<li class="contacts__item contacts__item--icon">
			<ButtonLink class="contacts__link" link="https://t.me/sonniyboii" target="_blank" referrerpolicy="no-referrer">
				<Icon class="icon" name="telegram-icon" />
			</ButtonLink>
		</li>
		<li class="contacts__item contacts__item--icon">
			<ButtonLink
				class="contacts__link"
				link="https://github.com/sonniydsgn"
				target="_blank"
				referrerpolicy="no-referrer"
			>
				<Icon class="icon" name="github-icon" />
			</ButtonLink>
		</li>
	</ul>
	<DataList class="contacts__location" term="Пермь, Россия">
		<time class="contacts__time" datetime="00:00+02:00" data-current-time>00:00</time>
	</DataList>
</div>

<style>
	.contacts {
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	.contacts__list {
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 12px;
		row-gap: 24px;
		align-content: start;
		justify-content: start;
	}

	.contacts__item {
		&:not(.contacts__item--icon) {
			grid-column: span 3;
		}
	}

	.contacts__item--icon .contacts__link {
		--size: 40px;

		display: flex;
		justify-content: center;
		align-items: center;
		transition:
			transform var(--tr-primary),
			box-shadow var(--tr-primary);
		border-radius: var(--br-primary);
		background-color: var(--bg-tertiary);
		width: var(--size);
		height: var(--size);

		@media (hover) {
			&:hover {
				transform: scale(1.15);
			}
		}

		&:active {
			transform: scale(0.95);
		}
	}
</style>

<script>
	const currentTimeElements = document.querySelectorAll('[data-current-time]')

	const optionsEl = {
		hour: '2-digit',
		minute: '2-digit',
		timeZone: 'Asia/Yekaterinburg',
	}

	function updateTime() {
		const currentTime = (options: {}) => {
			return new Date().toLocaleTimeString('ru-RU', { ...options })
		}

		currentTimeElements.forEach(el => {
			el.textContent = currentTime(optionsEl)
			el.setAttribute('datetime', currentTime({ ...optionsEl, timeZoneName: 'longOffset' }).replace(' GMT', ''))
		})
	}

	updateTime()

	setInterval(updateTime, 1000 * 5)
</script>
