---
import LinkItem from '@/components/atoms/LinkItem.astro'
import nav from '@/data/main-nav.js'

const currentPage = Astro.url.pathname !== '/' ? Astro.url.pathname.replace(/\/$/, '') : '/'
---

<nav class="sidebar-nav">
	<ul class="list-reset sidebar-nav__list">
		{
			nav.map(({ link, title }) => (
				<LinkItem class="sidebar-nav__item" href={link} active={currentPage === link}>
					{title}
				</LinkItem>
			))
		}
	</ul>
</nav>

<style>
	.sidebar-nav {
		display: flex;

		@media (width <= 880) {
			position: fixed;
			right: 0;
			bottom: 24px;
			left: 0;
			z-index: 10;
			margin-inline: 16px;
		}
	}

	.sidebar-nav__list {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@media (width <= 1200) {
			flex-direction: row;
			gap: 16px;
		}

		@media (width <= 880) {
			gap: 8px;
			border: 1px solid var(--border-secondary);
			border-radius: var(--br-lg);
			background-color: var(--bg-secondary);
			padding: 8px;
			width: 100%;
		}
	}

	@media (width <= 880) {
		@media (prefers-color-scheme: dark) {
			:root:not([data-theme]) .sidebar-nav__list {
				backdrop-filter: var(--blur-sm);
				background-color: var(--bg-elevate);

				.sidebar-nav__item {
					--clr-bg-active: var(--bg-secondary);
				}
			}
		}

		:root[data-theme='dark'] .sidebar-nav__list {
			backdrop-filter: var(--blur-sm);
			background-color: var(--bg-elevate);

			.sidebar-nav__item {
				--clr-bg-active: var(--bg-secondary);
			}
		}
	}

	.sidebar-nav__item {
		@media (width <= 880) {
			--padding-block: 12px;

			justify-content: center;
			align-items: center;
			width: 100%;
			text-align: center;
		}
	}
</style>
