---
import LinkItem from '@/components/atoms/LinkItem.astro'
import nav from '@/data/main-nav.js'

const currentPage = Astro.url.pathname
---

<nav class="sidebar-nav">
	<ul class="list-reset sidebar-nav__list">
		{
			nav.map(({ link, title }) => (
				<LinkItem class="sidebar-nav__item" link={link} active={currentPage === link}>
					{title}
				</LinkItem>
			))
		}
	</ul>
</nav>

<style>
	.sidebar-nav {
		display: flex;
	}

	.sidebar-nav__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
</style>
