---
import { Icon } from 'astro-icon/components'
import ButtonLink from '../atoms/ButtonLink.astro'

import videoMP4 from '@/assets/about/about_video.mp4'
import videoCover from '@/assets/about/about_video_cover.jpg'
import videoH265 from '@/assets/about/about_video_h265.mp4'
import videoWEBM from '@/assets/about/about_video_vp9.webm'
---

<script>
	const player = document.querySelector('[data-videoplayer]') as HTMLDivElement
	if (player) {
		const video = player.querySelector('video') as HTMLVideoElement
		const btn = player.querySelector('[data-videoplayer-btn]') as HTMLButtonElement

		const changeStatus = () => {
			if (video.paused) {
				video.play()
			} else {
				video.pause()
			}
		}

		const togglePlay = () => {
			btn.classList.add('about-card__play--hidden')
			btn.setAttribute('aria-label', 'Поставить видео на паузу')
			player.dataset.videoplayer = 'played'

			removeSpinner()
		}

		const togglePause = () => {
			btn.classList.remove('about-card__play--hidden')
			btn.setAttribute('aria-label', 'Включить видео')
			player.dataset.videoplayer = 'paused'

			removeSpinner()
		}

		const showSpinner = () => {
			const spinner = player.querySelector('.spinner')
			if (spinner) return

			const newSpinner = document.createElement('div')
			newSpinner.classList.add('spinner')
			player.appendChild(newSpinner)
		}

		const removeSpinner = () => {
			const spinner = player.querySelector('.spinner')
			if (spinner) spinner.remove()
		}

		video.addEventListener('play', togglePlay)
		video.addEventListener('pause', togglePause)
		video.addEventListener('ended', togglePause)
		video.addEventListener('waiting', showSpinner)
		video.addEventListener('playing', removeSpinner)

		btn.addEventListener('click', changeStatus)
		video.addEventListener('click', changeStatus)
	}
</script>

<div class="about-card">
	<figure class="about-card__videoplayer" data-videoplayer="paused">
		<video width="100%" height="100%" poster={videoCover.src} preload="metadata" playsinline>
			<source src={videoH265} type="video/mp4" />
			<source src={videoMP4} type="video/mp4" />
			<source src={videoWEBM} type="video/webm" />
			Ваш браузер не поддерживает встроенные видео :(
		</video>
		<ButtonLink
			class="btn btn--secondary btn--only-icon about-card__play"
			aria-label="Включить видео"
			aria-live="polite"
			data-videoplayer-btn
		>
			<Icon name="play-icon" class="icon icon--play" aria-hidden="true" />
			<Icon name="pause-icon" class="icon icon--pause" aria-hidden="true" />
		</ButtonLink>
		<figcaption class="visually-hidden">Видео обо мне</figcaption>
	</figure>
	<div class="about-card__content">
		<h3 class="text-h3 about-card__title">Лёша, 20 лет</h3>
		<p class="about-card__desc">Живу в Перми, ответственный и проактивный, ищу работу в найме</p>
	</div>
</div>

<style>
	.about-card {
		display: flex;
		align-items: center;
		gap: 48px;
		margin-block: 40px;

		@media (width <= 880) {
			flex-direction: column;
			gap: 24px;
			margin-block: 24px;
		}
	}

	.about-card__videoplayer {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		transition: background-color var(--tr-primary);

		&[data-videoplayer='paused'] .icon--play {
			display: block;
		}

		&[data-videoplayer='played'] .icon--pause {
			display: block;
		}
	}

	video {
		--size: 250px;

		cursor: pointer;
		border-radius: 100%;
		background-color: var(--bg-placeholder);
		aspect-ratio: 1 / 1;
		width: 100%;
		max-width: var(--size);

		@media (width <= 880) {
			--size: 320px;
		}
	}

	.about-card__play {
		position: absolute;
		right: 0;
		bottom: 0;
		transition: transform var(--tr-bounce);

		.icon {
			display: none;
		}

		@media (hover) {
			&:hover + .about-card__play {
				transform: scale(1.15);
			}
		}

		&:active {
			&:hover + .about-card__play {
				transform: scale(1.15);
			}
		}
	}

	.about-card__content {
		@media (width <= 880) {
			align-self: flex-start;
		}
	}

	.about-card__desc {
		max-width: 400px;
	}
</style>
