---
import Section from '@/components/atoms/Section.astro'
import { slugify, transliterate } from 'transliteration'

interface Props {
	title: string
	icon?: string
	size?: 's' | 'md'
	type?: 'section' | 'accordion'
	class?: string
}

const { title, icon = '◌', size = 'md', type = 'section', class: className, ...props } = Astro.props

const slug = title && slugify(transliterate(title))
const padding = size === 's' ? '24px' : '48px'
---

<Section
	data-toc-section={type === 'section' ? '' : null}
	class:list={['content-section', className]}
	id={slug}
	style={'--section-padding: ' + padding}
	{...props}
>
	<header class="content-section__header">
		<span class="text-h2 content-section__icon">{icon}</span>
		<h2 class="text-h2 content-section__title">{title}</h2>
		<slot name="header" />
	</header>
	<div class="content-section__body">
		<slot />
	</div>
</Section>

<style>
	.content-section {
		display: flex;
		flex-direction: column;
		border: 1px solid var(--border-secondary);
		border-radius: var(--br-lg);
		background-color: var(--bg-primary);
	}

	.content-section__header {
		display: flex;
		border-bottom: 1px solid var(--border-secondary);
		padding-inline: 24px;
		padding-block-start: 16px;
		padding-block-end: 12px;
	}

	.content-section__icon {
		margin-inline-end: 8px;
	}

	.content-section__title {
		margin-inline-end: auto;
	}

	.content-section__body {
		display: flex;
		flex-direction: column;
		padding-inline: 24px;
		padding-block-start: var(--section-padding);
		padding-block-end: 48px;
	}
</style>

<style is:global>
	.content-section {
		hr {
			margin: 0;
			border: 1px solid var(--border-secondary);
		}

		ul:not(.list-reset),
		ol:not(.list-reset) {
			display: flex;
			flex-direction: column;
			gap: 8px;
			padding-inline-start: 32px;
		}

		h3 + .info-list,
		h3 + .info-card {
			margin-block-start: 12px;
		}

		h3 + * {
			margin-block-start: 16px;
		}

		* ~ h3 {
			margin-block-start: 40px;
		}

		a.link {
			opacity: 0.8;

			@media (hover) {
				&:hover {
					opacity: 1;
				}
			}
		}

		p:not(:has(> picture)) {
			max-width: 790px;
		}

		p + p {
			margin-block-start: 12px;
		}

		p + figure,
		p + picture {
			margin-block-start: 16px;
		}

		figure + p,
		picture + p {
			margin-block-start: 24px;
		}

		figcaption {
			--padding: 8px;

			margin-block-start: 12px;
			padding-inline: var(--padding);
			max-width: calc(714px + 2 * var(--padding));
			color: var(--text-secondary-0);
			font-style: normal;
			font-weight: 300;
			font-size: var(--font-sm);
			line-height: var(--lh-sm);
		}
	}
</style>
