---
import { slugify, transliterate } from 'transliteration'

interface Props {
	title: string
	icon?: string
	size?: 'sm' | 'md'
	type?: 'section' | 'accordion'
	class?: string
}

const { title, icon = '◌', size = 'md', type = 'section', class: className, ...props } = Astro.props

const slug = title && slugify(transliterate(title))
---

<section
	data-toc-section={type === 'section' ? '' : null}
	class:list={['content-section', { 'content-section--sm': size === 'sm' }, className]}
	id={slug}
	{...props}
>
	<header class="content-section__header">
		<span class="text-h2 content-section__icon">{icon}</span>
		<h2 class="text-h2 content-section__title">{title}</h2>
		<slot name="header" />
	</header>
	<div class="content-section__body">
		<slot />
	</div>
</section>

<style>
	.content-section {
		--section-padding: 48px;
		--inline-padding: 24px;

		display: flex;
		flex-direction: column;
		border: 1px solid var(--border-secondary);
		border-radius: var(--br-lg);
		background-color: var(--bg-primary);

		@media (width <= 880) {
			--inline-padding: 16px;
			--section-padding: 32px;
		}
	}

	.content-section--sm {
		--section-padding: 24px;

		@media (width <= 880) {
			--section-padding: 12px;
		}
	}

	.content-section__header {
		display: flex;
		border-bottom: 1px solid var(--border-secondary);
		padding-inline: var(--inline-padding);
		padding-block-start: 16px;
		padding-block-end: 12px;

		@media (width <= 880) {
			padding-block-start: 12px;
			padding-block-end: 10px;
		}
	}

	.content-section__icon {
		margin-inline-end: 8px;
	}

	.content-section__title {
		margin-inline-end: auto;
	}

	.content-section__body {
		display: flex;
		flex-direction: column;
		padding-inline: var(--inline-padding);
		padding-block-start: var(--section-padding);
		padding-block-end: 48px;

		@media (width <= 880) {
			padding-block-end: 32px;
		}
	}
</style>

<style is:global>
	.content-section {
		/* заголовки */
		h3 + * {
			margin-block-start: 16px;

			@media (width <= 880) {
				margin-block-start: 12px;
			}
		}

		h3 + .info-list,
		h3 + .info-card {
			margin-block-start: 12px;

			@media (width <= 880) {
				margin-block-start: 8px;
			}
		}

		* ~ h3 {
			margin-block-start: 32px;

			@media (width <= 880) {
				margin-block-start: 24px;
			}
		}

		/* ссылки */
		a.link {
			opacity: 0.8;

			@media (hover) {
				&:hover {
					opacity: 1;
				}
			}
		}

		/* параграфы */
		p,
		figcaption {
			/* hack for temporary disabling chrome font boosting */
			max-height: 999999px;
		}

		p:not(:has(> picture)) {
			max-width: 90%;

			@media (width <= 880) {
				max-width: 100%;
			}
		}

		p + p {
			margin-block-start: 16px;

			@media (width <= 880) {
				margin-block-start: 12px;
			}
		}

		ul + p,
		ol + p {
			margin-block-start: 16px;

			@media (width <= 880) {
				margin-block-start: 12px;
			}
		}

		p + figure,
		p + picture {
			margin-block-start: 16px;

			@media (width <= 880) {
				margin-block-start: 12px;
			}
		}

		figure + p,
		picture + p {
			margin-block-start: 24px;

			@media (width <= 880) {
				margin-block-start: 20px;
			}
		}

		/* списки */
		ul:not(.list-reset),
		ol:not(.list-reset) {
			display: flex;
			flex-direction: column;
			gap: 12px;
			padding-inline-start: 32px;

			@media (width <= 880) {
				gap: 8px;
			}
		}

		p + ul,
		p + ol {
			margin-block-start: 8px;

			@media (width <= 880) {
				margin-block-start: 4px;
			}
		}

		/* остальное */
		hr {
			margin: 0;
			border: 1px solid var(--border-secondary);
		}

		figcaption {
			--padding: 8px;

			margin-block-start: 12px;
			padding-inline: var(--padding);
			max-width: calc(714px + 2 * var(--padding));
			color: var(--text-secondary-0);
			font-style: normal;
			font-weight: 300;
			font-size: var(--font-sm);
			line-height: var(--lh-sm);

			@media (width <= 880) {
				--padding: 4px;
			}
		}

		code {
			border-radius: var(--br-sm);
			background-color: var(--bg-tertiary);
			padding-inline: 6px;
			font-size: var(--font-sm);
			font-family: var(--ff-secondary);
		}

		.content-section__body:has(.about-card) {
			@media (width <= 880) {
				--section-padding: 24px;
			}
		}
	}
</style>
