---
// import LangSwitcher from '../molecules/LangSwitcher.astro'
import ThemeSwitcher from '../molecules/ThemeSwitcher.astro'
---

<header class="header">
	<div class="container header__container">
		<div class="header__inner">
			<div class="header__btns">
				<slot />
			</div>
			<div class="header__utils">
				<!-- <LangSwitcher /> -->
				<ThemeSwitcher />
			</div>
		</div>
	</div>
</header>

<style>
	.header {
		display: flex;
		position: fixed;
		z-index: 10;
		inset-inline: 0;
		padding-block-start: 32px;
		pointer-events: none;

		@media (width <= 1024) {
			padding-block-start: 24px;
		}
	}

	.header__container {
		@media (width <= 1024) {
			margin-inline: 16px;
			width: 100%;
		}
	}

	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > * {
			pointer-events: all;
		}
	}

	.header__utils {
		display: flex;
		align-items: center;
		gap: 4px;
		margin-inline-start: auto;
	}
</style>
