---
import Avatar from '@/assets/avatar.jpg'
import { Picture } from 'astro:assets'
import Contacts from '../molecules/Contacts.astro'
import SidebarNav from '../molecules/SidebarNav.astro'
---

<aside class="sidebar">
	<div class="sidebar__about">
		<Picture class="sidebar__avatar" src={Avatar} alt="Аватар" width="56" height="56" />
		<span class="sidebar__author">Алексей Калинин</span>
	</div>
	<SidebarNav />
	<Contacts class="sidebar__contacts" />
</aside>

<style>
	.sidebar {
		display: flex;
		position: sticky;
		top: 0;
		flex-direction: column;
		padding-block: var(--main-padding);
		height: 100vh;
	}

	.sidebar__about {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-block-end: 40px;
	}

	.sidebar__avatar {
		display: flex;
		border-radius: 100%;
	}

	.sidebar__author {
		max-width: 80px;
		color: var(--text-primary-0);
		font-weight: 700;
		font-size: var(--font-sm);
		line-height: var(--lh-sm);
		font-family: var(--ff-secondary);
	}

	.sidebar__contacts {
		margin-block-start: auto;
	}
</style>
