---
import Avatar from '@/assets/avatar.jpg'
import { Picture } from 'astro:assets'
import Contacts from '../molecules/Contacts.astro'
import SidebarNav from '../molecules/SidebarNav.astro'
---

<aside class="sidebar">
	<a href="/" class="sidebar__about">
		<Picture
			class="sidebar__avatar"
			src={Avatar}
			alt="Кудрявый молодой человек с улыбкой на лице"
			width="56"
			height="56"
			loading="eager"
			formats={['avif', 'webp']}
		/>
		<span class="sidebar__author">Алексей Калинин</span>
	</a>
	<SidebarNav />
	<Contacts class="sidebar__contacts" />
</aside>

<style>
	.sidebar {
		display: flex;
		position: sticky;
		top: 0;
		flex-direction: column;
		align-items: flex-start;
		padding-block: var(--main-padding);
		height: 100vh;

		@media (width <= 1200) {
			position: relative;
			flex-direction: row;
			align-items: center;
			padding-block-end: 0;
			height: unset;
		}
	}

	.sidebar__about {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-block-end: 40px;

		@media (width <= 1200) {
			flex-direction: row;
			align-items: center;
			margin-inline-end: 48px;
			margin-block-end: 0;
		}

		@media (width <= 880) {
			padding-inline: var(--inline-padding);
		}
	}

	.sidebar__avatar {
		--size: 56px;

		display: flex;
		border-radius: 100%;
		width: var(--size);
		height: var(--size);

		@media (width <= 1200) {
			--size: 32px;
		}
	}

	.sidebar__author {
		max-width: 80px;
		color: var(--text-primary-0);
		font-weight: 700;
		font-size: var(--font-sm);
		line-height: var(--lh-sm);
		font-family: var(--ff-secondary);

		@media (width <= 1200) {
			max-width: 100%;
		}
	}

	.sidebar__contacts {
		margin-block-start: auto;

		@media (width <= 1200) {
			display: none;
		}
	}
</style>
