---
import Head from '@/components/Head.astro'
import Footer from '@/components/organisms/Footer.astro'
import Header from '@/components/organisms/Header.astro'
import { Icon } from 'astro-icon/components'

interface Props {
	title: string
	desc?: string
	image?: string
}

const { title, desc, image } = Astro.props
---

<html lang="ru" class="page" transition:name="case">
	<Head {title} {desc} {image} />
	<body class="page__body">
		<div class="site-container">
			<Header>
				<a href="/" class="btn-reset btn btn--primary btn--icon" data-btn-back>
					<Icon class="icon icon--16" name="arrow-left-icon" aria-hidden="true" />
					Назад
				</a>
			</Header>
			<div class="project">
				<main class="main project__main">
					<slot />
				</main>
			</div>
			<Footer />
		</div>
	</body>
</html>

<style>
	.project {
		--main-padding: 80px;

		@media (width <= 768) {
			--main-padding: 88px;
		}
	}

	[data-btn-back] {
		touch-action: none;
	}
</style>
